:root {
    --test-border: 1px solid black;
    --display-flex: flex;


    --white-background: white;

    --font-color: white;

    --div-size: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.body {
    display: var(--display-flex);
    border: var(--test-border);
    height: 100vh;
}

/* left side style */

.left-side {
    width: 100vw;

    background-image: url(images/cole-keister-nfxIvG2B62I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side > div:nth-child(1) {
    color: var(--font-color);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    
    position: relative;
    top: 100px;
}

.left-side > div:nth-child(1) > img {
    height: 150px;
}

.left-side > div:nth-child(1) > span {
    font-family: 'Protest Revolution', sans-serif;
    font-size: 4rem;
    position: relative;
    bottom: 50px;
}

.left-side > div:nth-child(2) {
    text-align: center;
    font-size: 0.7rem;
    color: var(--font-color);
}


/* right side style */

.right-side {
    display: var(--display-flex);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right-side > div:nth-child(1) {
    padding: 50px;
    position: relative;
    bottom: 50px;

    font-weight: bold;
}

.right-side > div:nth-child(1) > div:nth-child(1) {
    padding-bottom: 20px;
} 

.right-side > div:nth-child(1) > div > span {
    font-style: italic;
}

/* Form details */

.right-side > div:nth-child(2) {
    position: relative;
    bottom: 50px;
    display: var(--display-flex);
    flex-direction: column;
}

.right-side > div:nth-child(2) > form > div:nth-child(1) {
    background-color: var(--white-background);
    border: var(--test-border);
    display: var(--display-flex);
    flex-wrap: wrap;
    gap: 20px;
}

.right-side > div:nth-child(2) > form > div:nth-child(1) > div:nth-child(1) {
    border: var(--test-border);
    width: 100%;
    padding-left: 50px;
}


.right-side > div:nth-child(2) > form > div:nth-child(1) > div {
    width: var(--div-size);
    display: var(--display-flex);
    border: var(--test-border);
    flex-direction: column;
    padding-left: 50px;
}

/* Button */

.right-side > div:nth-child(2) > form > div:last-child {
    border: var(--test-border);

    position: relative;
    top: 20px;
    padding-left: 50px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side > div:nth-child(2) > form > div:last-child > button {
    width: 200px;
    height: 30px;
}
