:root {
    --test-border: 1px solid black;
    --display-flex: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: var(--display-flex);
    border: var(--test-border);
    height: 100vh;
}

.left-side {
    border: var(--test-border);
    flex-grow: 1.5;
}

.right-side {
    border: var(--test-border);
    flex-grow: 2;
}